repos:
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy --cache-fine-grained landnet/ --strict-equality
        language: system
        always_run: true
        pass_filenames: false
        stages: [pre-push]
      - id: ruff
        name: ruff
        entry: ruff check landnet/
        language: system
        always_run: true
        pass_filenames: false
